body {
    font-family: sans-serif;
    background-color: pink;
    margin-top: 75px;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bolder
    ;
}

.img-medium {
    height: 300px;
}

